* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    padding: 15px 0 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
}
.item {
    width: 300px;
    height: 300px;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.red {
    background-color: red;
}
.violet {
    background-color: darkviolet;
}
.lightblue {
    background-color: lightblue;
}
.pink {
    background-color: pink;
}
.orange {
    background-color: orange;
}
@media screen and (min-width: 768px) {
    .grid-wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15px;
    }
}

@media screen and (min-width: 1024px) {
    .grid-wrapper {
        grid-template-columns: repeat(4, 1fr);
/*        grid-column-gap: 1px;*/
    }
}